.payments-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-control:focus {
  border: 1px solid #999;
}

.btn-primary {
  background-color: rgb(249, 77, 31);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0069d9;
}

