body {
  font-family: sans-serif;
}

form {
  width: 500px;
  margin: 0 auto;
  color: white;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(203, 203, 203);
}

input[type="submit"] {
  background-color: rgb(249, 77, 31);
  color: white;
  cursor: pointer;
  width: 525px;
}

body {
  background-image: url('song.jpg');
  background-position-x: center;
}

.title{
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-left: 47px;
  border: 1cm;
  font-family: 'Times New Roman', Times, serif;
}

.top-left-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.form-container {
  position: relative;
  width: 550px;
  margin: 0 auto;
  padding-left: 2px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(41, 41, 41, 0.5);
}

